<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
		================================================== -->
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<meta name="description" content="SFI">
	<!-- Animate
		================================================== -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/all.css">

	<!-- Custom Css
		================================================== -->
	<link rel="stylesheet" type="text/css" href="~/style.css" />
	<link rel="stylesheet" href="~/libs/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="~/libs/slick/slick-theme.css">
	<link rel="stylesheet" href="~/libs/slick/slick.css">
	<link rel="stylesheet" href="~/libs/owl-carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css" />
	<link rel="stylesheet" type="text/css" href="~/css/responsive.css" />

</head>

<body>
	<div id="wrapper" class="hfeed site">
		<header id="header" class="site-header">
			<div class="wrap-header">
				<div class="logo">
					<a href="#">NOAH Members Event</a>
				</div>
				<div class="rst-menu">
					<ul>
						<li><a href="#noah" class="active">NOAHとは?</a></li>
						<li><a href="#events-bottom">開催のお知らせ</a></li>
						<li><a href="#guest">ゲストコンテンツ</a></li>
						<li><a href="">特典</a></li>
						<li><a href="">注意事項</a></li>
						<li><a href="">お問い合わせ</a></li>
					</ul>
				</div>
			</div>
			<div class="height-header">
			</div>
		</header>
		@RenderBody()

		<footer id="footer">
			<div class="container">
				<div class="wrap-footer">
					<div class="footer-left">
						<div class="logo-footer">
							<a href="#"><img src="./images/logo-footer.png" alt=""></a>
						</div>
						<div class="sponsors">
							<h2>協賛企業</h2>
							<p>グローバルなリーチを持つ統合された<br>アジアン・フィナンシャル・ハウス</p>
						</div>
					</div>
					<div class="footer-right">
						<img src="./images/image 4.png" alt="">
						<h3>株式会社MEDICO</h3>
						<p>info@noahmembersevent.jp</p>
					</div>
				</div>
			</div>
			<div class="srcool-top">
				<svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58" fill="none">
					<g filter="url(#filter0_d_22_46)">
						<circle cx="29" cy="25" r="24.5" stroke="#1078C2" stroke-opacity="0.5"
								shape-rendering="crispEdges" />
					</g>
					<line x1="29.3536" y1="22.3536" x2="24.4038" y2="27.3033" stroke="#1078C2" stroke-opacity="0.5" />
					<line x1="29.3536" y1="21.6464" x2="35.0104" y2="27.3033" stroke="#1078C2" stroke-opacity="0.5" />
					<defs>
						<filter id="filter0_d_22_46" x="0" y="0" width="58" height="58" filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix" />
							<feColorMatrix in="SourceAlpha" type="matrix"
										   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
							<feOffset dy="4" />
							<feGaussianBlur stdDeviation="2" />
							<feComposite in2="hardAlpha" operator="out" />
							<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_22_46" />
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_22_46" result="shape" />
						</filter>
					</defs>
				</svg>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="~/js/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="~/libs/fancybox/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="~/libs/slick/slick.min.js"></script>
	<script type="text/javascript" src="~/libs/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="~/js/main.js"></script>
	<script type="text/javascript">

		$('.owl-carousel').owlCarousel({
			loop: false,
			margin: 40,
			nav: true,
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 3
				},
				1000: {
					items: 3
				}
			}
		})
	</script>
</body>

</html>